*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.body{
    background-color: rgba(128, 128, 128, 0.212);
}
.logo{
   padding-left: 5%;
}
.navbar{
}
.ul a{
    color: #4a69bd;
    font-size: 18px;
    padding-left:100px ;
}
.img{
    position: relative;
    top: 100px;
    right: -700px;
    bottom: 150px;
}
.block{
    display: inline-block;
	content: "";
	position: absolute;
	left: -350px;
	top: -50px;
	width: 460px;
	height: 1000px;
	border-radius: 230px;
	background-color: #4a69bd;
	z-index: -1;
	transform: rotate(-45deg);
}
.heigth{
    height: 560px;
    overflow: hidden;
}

.img2{
    background: url(e-mail-background-v2.jpg) no-repeat center center; 
    background-size: cover;
    color: white;
    padding: 20px 0;
}
.button{
    color: white;
    background-color: #25304e;
    width: 100%;
    height: 35px;
    border: 0;
    border-radius: 5px;
}
.metin{
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 50px;
    color: #4a69bd;
}
.card:hover{
    transform: translateY(-10px);
    transition: 1s ease;
}
.card-text{
    text-align: center;
}
.img3{
    background: url(services-background-v2.jpg) no-repeat center center; 
    background-size: cover;
}

.img4{
    background: url(clinic-background-v2.jpg) no-repeat center center; 
    background-size: cover;
}
.metin3 p{
    margin-top: 20px;
}
.img5{
    background: url(before-after-background-v2.jpg) no-repeat center center; 
    background-size: cover;
}
.img6{
    background: url(faq-background-v2.jpg) no-repeat center center; 
    background-size: cover;
}